@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

/* Commons */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #828294;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.04em;
}

.h2 {
    color: #44444f;
    font-size: 48px;
    text-transform: none!important;
    @media (max-width: 560px) {
        font-size: 36px;
    }
    @media (max-width: 420px) {
        font-size: 29px;
    }
}

.h3 {
    color: #44444f;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.h4 {
    font-size: 18px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: $light-color;
    background-image: -webkit-gradient(linear, left top, right top, from(#65e49b), to(#65e4b0));
    background-image: linear-gradient(to right, #65e49b, #65e4b0);
    -webkit-box-shadow: 0px 2px 0px 0px rgba($accent-color, 0.5);
            box-shadow: 0px 2px 0px 0px rgba($accent-color, 0.5);
    border-radius: 3px;
    display: inline-block;
    padding: 13px 25px;
    border: none;
    text-align: center;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &_long {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.page {
    padding: 155px 0 160px;
    @media(max-width: 750px) {
        padding: 120px 0;
    }
    @media(max-width: 420px) {
        padding: 100px 0;
    }
    &__title {
        text-align: center;
    }
    &__subtitle {
        color: $accent-color;
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 80px;
    }
    &_gray {
        background: $bg-light;
    }
}

.block-ava {
    position: relative;
    @media(max-width: 750px) {
        margin-bottom: 30px;
    }
    &__svg {
        @media(max-width: 1020px) {
            width: 300px;
            height: 400px;
        }
        @media(max-width: 420px) {
            width: 250px;
            height: 327px;
        }
    }
    &__img {
        position: absolute;
        bottom: 45px;
        left: -47px;
        @media(max-width: 1020px) {
            width: 300px;
        }
        @media(max-width: 420px) {
            width: 230px;
            left: -25px;
        }
        &_right {
            left: 51px;
            top: 49px;
            @media(max-width: 750px) {
                top: -49px;
            }
            @media(max-width: 420px) {
                top: -40px;
                width: 220px;
            }
        }
    }
}

.block-text {
    -ms-flex-preferred-size: calc(93% - 500px);
        flex-basis: calc(93% - 500px);
    &_width {
        -ms-flex-preferred-size: calc(93% - 520px);
            flex-basis: calc(93% - 520px);
    }
    &__title {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        margin-bottom: 40px;
        @media (max-width: 560px) {
            font-size: 36px;
        }
        @media (max-width: 420px) {
            font-size: 29px;
        }
        span {
            font-size: 18px;
            color: $accent-color;
            letter-spacing: 0.05em;
            display: block;
            text-transform: none;
            font-weight: 400;
            margin-top: 15px;
            line-height: 1.3;
        }
    }
    &__name {
        font-size: 18px;
        margin: 0 0 35px;
        line-height: 1;
        &_top {
            margin: 17px 0 19px;
        }
    }
    &__description {
        line-height: 1.6;
        margin: 0 0 25px;
        @media(max-width: 750px) {
            line-height: 1.4;
        }
    }
    small {
       font-size: 12px;
       font-style: italic;
       display: block;
       letter-spacing: 0.02em;
    }
    &__btn {
        margin: 20px 0;
    }
    &-item {
        margin-bottom: 55px;
        &__date {
            margin: 0 0 8px;
        }
        &__title {
            margin-bottom: 19px;
            line-height: 1.3;
        }
        &__descr {
            margin-bottom: 24px;
        }
        &__btn {
            padding: 10px 30px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    @media(max-width: 1020px) {
        -ms-flex-preferred-size: calc(93% - 315px);
            flex-basis: calc(93% - 315px);
    }
    @media(max-width: 750px) {
        text-align: center;
    }
}

.form {
    &-input {
        width: 100%;
        background: $bg-dark;
        border-radius: 3px;
        border: none;
        height: 48px;
        padding: 0 28px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color:$text-gray;
        &:focus {
            outline: none;
        }
    }
    &__item {
        margin-bottom: 20px;
    }
    &__btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

::-webkit-input-placeholder {
    color: $text-gray;
    opacity: 1;
}

::-moz-placeholder {
    color: $text-gray;
    opacity: 1;
}

:-moz-placeholder {
    color: $text-gray;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $text-gray;
    opacity: 1;
}

/* Header */

.header {
    background-image: url('../img/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-top: 50px;
    padding-bottom: 160px;
    @media (max-width: 750px) {
        padding-bottom: 120px;
    }
    &__logo {
        display: block;
        @media (max-width: 920px) {
            margin-bottom: 30px;
        }
        @media (max-width: 750px) {
            -ms-flex-item-align: start;
                align-self: flex-start;
            margin-bottom: 20px;
        }
    }
    &__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        @media (max-width: 920px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    &-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        @media (max-width: 750px) {
            text-align: center;
            display: none;
            width: 100%;
        }
        @media (min-width: 751px) {
            display: -webkit-box!important;
            display: -ms-flexbox!important;
            display: flex!important;
        }
        &__item {
            margin-left: 20px;
            @media (max-width: 750px) {
                margin: 0 auto;
                border-bottom: 2px solid $light-color;
                max-width: 300px;
            }
        }
        &__link {
            font-size: 16px;
            color: $light-color;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            @media (max-width: 750px) {
                padding: 10px 0;
                display: block;
                background: $accent-color;
                border-bottom: none;
                color: $text-dark;
            }
            &:hover,
            &.active {
                border-bottom: 3px solid $accent-color;
                @media (max-width: 750px) {
                    border-bottom: none;
                    background: #5fc9a8;
                }
            }
        }
    }
    &__bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-top: 180px;
        @media(max-width: 1020px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            padding-top: 140px;
            text-align: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        @media(max-width: 420px) {
            padding-top: 100px;
        }
    }
}

.menu-opener {
    background: transparent;
    border: none;
    font-size: 30px;
    color: $accent-color;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    line-height: 1;
    display: none;
    @media (max-width: 750px) {
        display: block;
    }
}

.block-book {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    @media(max-width: 1020px) {
        margin-top: 50px;
    }
    @media(max-width: 750px) {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }
    &-demo {
        width: 447px;
        height: 643px;
        background-image: url('../img/book.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media(max-width: 750px) {
            width: 300px;
            height: 431px;
        }
        &__title {
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.04em;
            position: absolute;
            top: 112px;
            width: 100%;
            @media(max-width: 750px) {
                top: 60px;
                font-size: 27px;
            }
            span {
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                color: $accent-color;
                display: block;
                text-transform: none;
                letter-spacing: 0.05em;
                margin-top: 8px;
                @media(max-width: 750px) {
                    font-size: 11px;
                }
            }
        }
        &__autor {
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 43px;
            left: 85px;
            @media(max-width: 750px) {
                left: 57px;
                font-size: 12px;
            }
        }
    }
}

/* About */

.about {
    &__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        @media(max-width: 750px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }
}

.block-counters {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 18px;
    color: #696980;
    margin: 125px 0 0;
    letter-spacing: 0.04em;
    @media(max-width: 750px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    @media(max-width: 420px) {
        margin-top: 60px;
    }
    &__item {
        @media(max-width: 750px) {
            margin-bottom: 50px;
        }
        @media(max-width: 420px) {
            margin-bottom: 30px;
        }
    }
    &__number {
        font-size: 80px;
        font-weight: 100;
        color: $accent-color;
        font-family: 'Roboto Slab', serif;
        display: block;
        margin-bottom: 15px;
        line-height: 1;
        @media(max-width: 420px) {
            font-size: 55px;
        }
    }
}

/* Contents */

.contents {
    &__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        @media(max-width: 1020px) {
            max-width: 750px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin: 0 auto;
        }
    }
    &__book {
        -ms-flex-preferred-size: calc(100% - 690px);
            flex-basis: calc(100% - 690px);
        @media(max-width: 1020px) {
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        }
    }
    &__table {
        -ms-flex-preferred-size: 585px;
            flex-basis: 585px;
        @media(max-width: 1020px) {
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            margin-top: 50px;
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &-list {
        counter-reset: list;
        -webkit-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 27px;
                column-gap: 27px;
        padding: 0;
        margin: 0;
        margin-bottom: 28px;
        @media(max-width: 560px) {
            -webkit-column-count: 1;
                    column-count: 1;
        }
        &_next {
            counter-reset: list 10;
            position: relative;
            &::before {
                content: '';
                display: block;
                height: 2px;
                width: 100px;
                background: #5fc9b8;
                position: absolute;
                top: -19px;
                left: 0;
            }
        }
        &__item {
            position: relative;
            counter-increment: list;
            list-style-type: none;
            padding-left: 33px;
            margin-bottom: 8px;
            &::before {
                content: counter(list)".";
                margin-right: 8px;
            }
            &::after {
                content: '+';
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -11px;
                width: 22px;
                height: 22px;
                color: $light-color;
                background: #5fc9b8;
                text-align: center;
                line-height: 22px;
            }
        }
    }
    &__social {
        font-size: 18px;
        font-weight: 700;
        color: #44444f;
        font-family: 'Roboto Slab', serif;
        margin-top: 29px;
        span {
            margin-right: 20px;
        }
        a {
            font-size: 15px;
            color: $accent-color;
            margin-right: 13px;
        }
    }
}

/* Other books */

.other-books {
    text-align: center;
    &__list {
        margin-bottom: 85px;
    }
    &__btn {
        padding: 10px 33px;
    }
}

.books-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @media(max-width: 1020px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__item {
        -ms-flex-preferred-size: 32%;
            flex-basis: 32%; 
        @media(max-width: 1020px) {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        } 
    }
    &-demo {
        width: 269px;
        height: 409px;
        background-image: url('../img/book-min.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        position: relative;
        &__title {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            color: #fff;
            position: absolute;
            top: 72px;
            left: 69px;
            span {
                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                color: $accent-color;
                display: block;
                text-transform: none;
                letter-spacing: 0.05em;
                margin-top: 12px;
            }
        }
        &__autor {
            font-size: 12px;
            color: $accent-color;
            position: absolute;
            bottom: 17px;
            left: 79px;
        }
    }
    &__more {
        text-transform: uppercase;
        font-weight: 700;
        color: $accent-color;
        border: none;
        border-bottom: 3px solid transparent;
        background: none;
        cursor: pointer;
        padding-bottom: 5px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        &:hover {
            border-bottom: 3px solid $accent-color;
        }
    }
    &__title {
        margin: 36px 0 17px;
    }
    &__text {
        margin-bottom: 17px;
        @media(max-width: 1020px) {
            max-width: 350px;
        } 
    }
}

/* Comments */

.comments {
    color: $text-gray;
    padding: 155px 0 160px;
    position: relative;
    @media(max-width: 1020px) {
        background: $bg-dark;
    }
    &__svg {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
        min-height: 640px;
        @media(max-width: 1020px) {
            display: none;
        }
    }
    &-slider {
        &__item {
            text-align: center;
        }
        &__wrap {
            position: relative;
            width: 152px;
            margin: 0 auto;
            i {
                position: absolute;
                color: $accent-color;
                top: 0px;
                right: -14px;
                font-size: 48px;
            }
        }
        &__photo {
            width: 152px;
            height: 152px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        &__title {
            color: $accent-color;
            margin-top: 25px;
            margin-bottom: 5px;
        }
        &__subtitle {
            margin-bottom: 35px;
            display: block;
        }
        &__text {
            max-width: 770px;
            margin: 0 auto;
            line-height: 1.85;
        }
    }
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 33px;
    li {
        margin-right: 10px;
    }
    button {
        width: 8px;
        height: 8px;
        background: $accent-color;
        border-radius: 50%;
        border: none;
        padding: 0;
        font-size: 0;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .slick-active {
        button {
            width: 35px;
            border-radius: 10px;
        }
    }
}

/* Events */

.events {
    &__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        @media(max-width: 750px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }
}

/* Blog */

.blog {
    text-align: center;
    &-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: left;
        @media(max-width: 900px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        &__item {
            @media(max-width: 900px) {
                margin-bottom: 40px;
            }
        }
        &-item {
            -ms-flex-preferred-size: 32%;
                flex-basis: 32%;
            @media(max-width: 900px) {
                max-width: 500px;
            }
            &__title {
                color: $text-dark;
                margin: 19px 0 6px;
                letter-spacing: 0.05em;
            }
            &__img {
                width: 100%;
                height: 224px;
                overflow: hidden;
                position: relative;
                img {
                    position: absolute;
                    width: 100%;
                    height: 224px;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                    -o-object-fit: cover;
                       object-fit: cover;
                }
            }
            &__text {
                color: #696980;
                margin-top: 12px;
            }
            &__autor {
                color: #80809b;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                a {
                    color: $accent-color;
                }
            }
        }
    }
    &__list {
        margin-bottom: 68px;
    }
    &__btn {
        padding: 10px 31px;
    }
}

/* Subscribe */

.subscribe {
    &__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        @media(max-width: 1020px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }
    &__item {
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
        @media(max-width: 1020px) {
            width: 100%;
            max-width: 500px;
            text-align: center;
            &:first-child {
                margin-bottom: 40px;
            }
        }
    }
    &__text {
        margin-top: 13px;
        margin-bottom: 0;
    }
    &__form {
        margin-top: 5px;
    }
}

/* Footer */

.footer {
    background: $bg-dark;
    color: $text-gray;
    letter-spacing: 0.04em;
    &-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        @media(max-width: 750px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            
        }
        &__item {
            -ms-flex-preferred-size: 33%;
                flex-basis: 33%;
            &:nth-child(2),
            &:nth-child(3) {
                -ms-flex-preferred-size: 23%;
                    flex-basis: 23%;
            }
            @media(max-width: 750px) {
               margin-bottom: 30px;
            }
        }
        &__title {
            text-transform: uppercase;
            font-size: 18px;
            color: $accent-color;
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            margin-bottom: 23px;
            margin-top: 12px;
        }
        &__text {
            margin-top: 20px;
        }
        &__list {
            li {
                margin-bottom: 4px;
            }
        }
        &__social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            margin-top: 10px;
            li {
                margin-right: 13px;
            }
            i {
                color: $accent-color;
            }

        }
    }
}