@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

/* Commons */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #828294;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 1;
}

.h2 {
    color: #44444f;
    font-size: 48px;
    text-transform: none!important;
    letter-spacing: 0.04em;
}

.h3 {
    color: #44444f;
    font-size: 24px;
    letter-spacing: 0.05em;
}

.h4 {
    font-size: 18px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: $light-color;
    background-image: linear-gradient(to right, #65e49b, #65e4b0);
    box-shadow: 0px 2px 0px 0px rgba($accent-color, 0.5);
    border-radius: 3px;
    display: inline-block;
    padding: 13px 25px;
    border: none;
    text-align: center;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &_long {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.page {
    &__title {
        text-align: center;
    }
    &__subtitle {
        color: $accent-color;
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 80px;
    }
    &_gray {
        background: $bg-light;
    }
}

.block-ava {
    position: relative;
    &__img {
        position: absolute;
        bottom: 45px;
        left: -47px;
        &_right {
            left: 51px;
            bottom: 53px;
        }
    }
}

.block-text {
    flex-basis: calc(95% - 500px);
    &_width {
        flex-basis: calc(93% - 520px);
    }
    &__title {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        margin-bottom: 40px;
        span {
            font-size: 18px;
            color: $accent-color;
            letter-spacing: 0.05em;
            display: block;
            text-transform: none;
            font-weight: 400;
            margin-top: 15px;
        }
    }
    &__name {
        font-size: 18px;
        margin: 0 0 30px;
        line-height: 1;
        &_top {
            margin: 17px 0 19px;
        }
    }
    &__description {
        line-height: 1.6;
        margin: 0 0 25px;
    }
    small {
       font-size: 12px;
       font-style: italic;
       display: block;
       letter-spacing: 0.02em;
    }
    &__btn {
        margin: 20px 0;
    }
    &-item {
        margin-bottom: 55px;
        &__date {
            margin: 0 0 8px;
        }
        &__title {
            margin-bottom: 19px;
        }
        &__descr {
            margin-bottom: 24px;
        }
        &__btn {
            padding: 10px 30px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.form {
    &-input {
        width: 100%;
        background: $bg-dark;
        border-radius: 3px;
        border: none;
        height: 48px;
        padding: 0 28px;
        box-sizing: border-box;
        color:$text-gray;
        &:focus {
            outline: none;
        }
    }
    &__item {
        margin-bottom: 20px;
    }
    &__btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

::-webkit-input-placeholder {
    color: $text-gray;
    opacity: 1;
}

::-moz-placeholder {
    color: $text-gray;
    opacity: 1;
}

:-moz-placeholder {
    color: $text-gray;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $text-gray;
    opacity: 1;
}

/* Header */

.header {
    background-image: url('../img/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-top: 50px;
    padding-bottom: 160px;
    &__logo {
        display: block;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        display: flex;
        justify-content: flex-end;
        &__item {
            margin-left: 20px;
        }
        &__link {
            font-size: 16px;
            color: $light-color;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover,
            &.active {
                border-bottom: 3px solid $accent-color;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: flex-start;
        padding-top: 180px;
    }
}

.block-book {
    flex-basis: 500px;
    &-demo {
        width: 447px;
        height: 643px;
        background-image: url('../img/book.svg');
        background-repeat: no-repeat;
        position: relative;
        &__title {
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.04em;
            position: absolute;
            top: 112px;
            width: 100%;
            span {
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                color: $accent-color;
                display: block;
                text-transform: none;
                letter-spacing: 0.05em;
                margin-top: 8px;
            }
        }
        &__autor {
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 43px;
            left: 85px;
        }
    }
}

/* About */

.about {
    padding: 153px 0 140px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.block-counters {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #696980;
    margin: 125px 0 0;
    letter-spacing: 0.04em;
    &__number {
        font-size: 80px;
        font-weight: 100;
        color: $accent-color;
        font-family: 'Roboto Slab', serif;
        display: block;
        margin-bottom: 15px;
        line-height: 1;
    }
}

/* Contents */

.contents {
    padding: 150px 0 250px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__book {
        flex-basis: 41%;
    }
    &__table {
        flex-basis: 49%;
    }
    &__title {
        margin-bottom: 20px;
    }
    &-list {
        counter-reset: list;
        column-count: 2;
        padding: 0;
        margin: 0;
        &__item {
            position: relative;
            counter-increment: list;
            list-style-type: none;
            padding-left: 33px;
            margin-bottom: 8px;
            &::before {
                content: counter(list)".";
                margin-right: 8px;
            }
            &::after {
                content: '+';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                color: $light-color;
                background: #5fc9b8;
                text-align: center;
                line-height: 22px;
            }
        }
    }
    &__social {
        font-size: 18px;
        font-weight: 700;
        color: #44444f;
        font-family: 'Roboto Slab', serif;
        margin-top: 29px;
        span {
            margin-right: 20px;
        }
        a {
            font-size: 15px;
            color: $accent-color;
            margin-right: 13px;
        }
    }
    &__btn {
        margin-top: 28px;
    }
}

/* Other books */

.other-books {
    text-align: center;
    padding: 150px 0 165px;
    &__list {
        margin-bottom: 85px;
    }
    &__btn {
        padding: 10px 33px;
    }
}

.books-list {
    display: flex;
    justify-content: space-between;
    &__item {
        flex-basis: 32%;
    }
    &-demo {
        width: 269px;
        height: 409px;
        background-image: url('../img/book-min.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        position: relative;
        &__title {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            color: #fff;
            position: absolute;
            top: 72px;
            left: 69px;
            span {
                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                color: $accent-color;
                display: block;
                text-transform: none;
                letter-spacing: 0.05em;
                margin-top: 12px;
            }
        }
        &__autor {
            font-size: 12px;
            color: $accent-color;
            position: absolute;
            bottom: 17px;
            left: 79px;
        }
    }
    &__more {
        text-transform: uppercase;
        font-weight: 700;
        color: $accent-color;
        border: none;
        background: none;
        cursor: pointer;
    }
    &__title {
        margin: 36px 0 17px;
    }
    &__text {
        margin-bottom: 17px;
    }
}

/* Events */

.events {
    padding: 155px 0 180px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

/* Blog */

.blog {
    padding: 155px 0 160px;
    text-align: center;
    &-list {
        display: flex;
        justify-content: space-between;
        text-align: left;
        &-item {
            flex-basis: 30%;
            &__title {
                color: $text-dark;
                margin: 19px 0 6px;
                letter-spacing: 0.05em;
            }
            &__img {
                width: 369px;
                height: 224px;
                overflow: hidden;
                position: relative;
                img {
                    position: absolute;
                    width: 369px;
                    height: 224px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
            }
            &__text {
                color: #696980;
                margin-top: 12px;
            }
            &__autor {
                color: #80809b;
                a {
                    color: $accent-color;
                }
            }
        }
    }
    &__list {
        margin-bottom: 68px;
    }
    &__btn {
        padding: 10px 31px;
    }
}

/* Subscribe */

.subscribe {
    padding: 155px 0 150px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        flex-basis: 49%;
    }
    &__text {
        margin-top: 13px;
        margin-bottom: 0;
    }
    &__form {
        margin-top: 5px;
    }
}